#include<windows.h>
#include "Window.h"

APP_ICON ICON icon.ico

//******************	Menu Bar	**********************

IMAGE_EDITOR MENU
BEGIN

POPUP "&File" 

BEGIN
	MENUITEM "&Open File", IDM_OPEN_FILE
	MENUITEM "&Exit", IDM_EXIT_APP
END

POPUP "&Edit"

BEGIN
	MENUITEM "&Edit Image", IDM_EDIT_IMAGE
END

POPUP "&Help"

BEGIN
	MENUITEM "&About", IDM_ABOUT
END
END


//**********************	Dialog Box	************************

MY_DIALOG DIALOG DISCARDABLE 320, 0, 290, 230
STYLE WS_CAPTION | WS_POPUP | WS_SYSMENU | WS_VISIBLE | WS_CHILD
CAPTION "Image Processing And Color Picker"

BEGIN
//PUSHBUTTON "Register User", REGISTER_BUTTON, 120, 5, 55, 13,SS_CENTER

GROUPBOX "Image Settings",ID_IMAGE_SETS,10,25,110,35
RADIOBUTTON "Image Effects", RD_IMAGE_PROCESSING, 20, 35, 55, 13, WS_TABSTOP | WS_GROUP
RADIOBUTTON "Color Picker", RD_COLOR_PICKER, 20, 45, 55, 13, WS_TABSTOP | WS_GROUP

//RADIOBUTTON "Image Effects", RD_IMAGE_PROCESSING, 70, 2, 55, 13, WS_TABSTOP| WS_GROUP
//RADIOBUTTON "Color Picker", RD_COLOR_PICKER, 125, 2, 55, 13, WS_TABSTOP | WS_GROUP

GROUPBOX "Sound Settings", ID_SOUNDSETS, 140, 25, 130, 35
AUTORADIOBUTTON "Sound OFF", ID_VOLUME_OFF, 150, 35, 50, 10
AUTORADIOBUTTON "Sound ON", ID_VOLUME_ON, 150, 45, 50, 10
LISTBOX ID_LISTBOX, 200, 35, 65, 20

GROUPBOX "Image Editor", MY_IMAGE_EDITOR, 10, 65, 270, 60

GROUPBOX "Desaturation", IMAGE_DESATURATION, 20, 75, 75, 45
PUSHBUTTON "APPLY EFFECT", DESATURATION_PUSHBUTTON, 30, 85, 55, 13
PUSHBUTTON "RESET IMAGE", DESATURATION_RESET, 30, 100, 55, 13

GROUPBOX "Sepia", IMAGE_SEPIA, 110, 75, 75, 45
PUSHBUTTON "APPLY EFFECT", SEPIA_PUSHBUTTON, 120, 85, 55, 13
PUSHBUTTON "RESET IMAGE", SEPIA_RESET, 120, 100, 55, 13

GROUPBOX "Color Inversion", IMAGE_COLOR_INVERSION, 200, 75, 75, 45
PUSHBUTTON "APPLY EFFECT", COLOR_INVERSION_PUSHBUTTON, 210, 85, 55, 13
PUSHBUTTON "RESET IMAGE", COLOR_INVERSION_RESET, 210, 100, 55, 13

GROUPBOX "Color Picker", COLOR_PICKER, 10, 130, 270, 75

EDITTEXT  R_TEXT_BOX , 70, 140, 17, 15 , ES_READONLY
EDITTEXT  G_TEXT_BOX , 90, 140, 17, 15 , ES_READONLY
EDITTEXT  B_TEXT_BOX , 110, 140, 17, 15 , ES_READONLY

CTEXT "R" RED_VALUE, 68, 160, 20, 10
CTEXT "G" GREEN_VALUE, 88, 160, 20, 10
CTEXT "B" BLUE_VALUE,108,160,20,10

EDITTEXT ID_EDIT_COLOR, 160, 140, 40, 40, ES_READONLY

CHECKBOX  "Export Picked Colors Log File", EXPORT_RGB_CHECK 20, 175, 120, 10
CHECKBOX  "Export Picked Colors(Normalized) Log File", NORMALISE_RGB_CHECK 20, 190, 150, 10

CTEXT    "Picked Color : "    PICKED_COLOR, 15,140,55,15

PUSHBUTTON "ABOUT", MY_ABOUT_PUSH_BUTTON, 170, 210, 30, 13
PUSHBUTTON "OK", IDOK, 205, 210, 30, 13
PUSHBUTTON "EXIT", IDCANCEL, 240, 210, 30, 13

END


//***********	User Registration Dialog Box	****************

REGISTER_DIALOG DIALOG DISCARDABLE 40, 10, 230, 70
STYLE WS_CAPTION | WS_POPUP | WS_SYSMENU | WS_VISIBLE | WS_CHILD
CAPTION "User Registration"
Font 10, "Arial Rounded MT Bold" 

BEGIN
    CTEXT    "User Name :"  USER_NAME, 8,10,40,12
	CTEXT	 "First Name"   F_NAME_STATIC, 50,28,50,12, SS_NOTIFY
	CTEXT	 "Middle Name"  M_NAME_STATIC, 110,28,50,12, SS_NOTIFY
	CTEXT	 "Surname"     L_NAME_STATIC, 170,28,50,12, SS_NOTIFY

	EDITTEXT FIRST_NAME,   50,10,50, 12
	EDITTEXT MIDDLE_NAME,  110,10,50,12
    EDITTEXT LAST_NAME,    170,10,50,12	
	PUSHBUTTON "REGISTER", IDOK, 100, 45, 40, 15

END


//*********************	About Dialog Box	*************************

ABOUT_DIALOG DIALOG DISCARDABLE 0,0,165,85
STYLE DS_MODALFRAME | DS_CENTER | WS_BORDER
CAPTION " ABOUT!"
Font 11, "Verdana" 

BEGIN
	ICON APP_ICON,SBP_ICON,10,5,0,0
	LTEXT "IMAGE PROCESSING"  -1,50,5,100,25
	LTEXT "A Project By : AstroMediComp" -1,30,20,120,15, SS_CENTER
	LTEXT "Developed By : Santosh Balu Phatangare " -1,20,35,150,15,
	LTEXT "(santoshphatangare17@gmail.com)"  -1,22,50,156,15
	PUSHBUTTON "OK", IDOK, 70, 66, 30, 13,SS_CENTER

END



 